app = 'sync-server-silent-brook-6025'
primary_region = 'iad'

[build]
  [build.args]
    NODE_VERSION = '20'

[env]
  NODE_ENV = 'production'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  
  [[http_service.checks]]
    grace_period = '10s'
    interval = '30s'
    method = 'GET'
    timeout = '5s'
    path = '/health'

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
